//$ff: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
//$ff: 'Crimson Text', 'Book Antiqua', 'Palatino', 'Garamond', serif;
//$ff: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$ff: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;

body {
    text-rendering: optimizeLegibility;
    font-family: $ff;

    @media (max-width: 800px) {
        font-size: 0.7em;
    }
    margin: 0;
}

$black: #111;

h1 {
    font-size: 2em;
    margin-top: 3rem;
    margin-bottom: 0.8em;
    letter-spacing: 0.5px;
    font-variant-caps: normal;
    font-weight: 600;

    a {
        letter-spacing: 0.5px;
        font-variant-caps: normal;
    }

    & + h1 {
        margin-top: -0.7em;
    }
}

h2 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-variant-caps: all-small-caps;
    margin: 1.5em 0 0.7em;
}

h3 {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 600;

    & + p {
        margin-top: 0.3em;
    }
}

p {
    font-size: 1.2rem;
    line-height: 1.4;
    hyphens: auto;
    color: $black;
    hyphens: auto;

    sup {
        font-size: 0.8em;
    }
}

ul,
ol,
p {
    font-size: 1.3rem;
}

ul {
    padding-left: 30px;
}

ol {
    list-style-type: lower-roman;
}

aside {
    @extend p;

    @media (min-width: 900px) {
        height: 0;
        position: relative;
        left: -350px;
        width: 22ch;
        top: 0.9em;
        text-align: left;
        color: #2e2e2e;
        font-style: italic;
    }
}

li {
    margin: 0.1em 0;
}

figure {
    width: 100%;
    margin: auto;
}

img {
    width: 100%;
    display: block;
    margin: 2em auto 1em;
}

a {
    font-variant-caps: all-small-caps;
    letter-spacing: 1px;
    text-decoration: none;
}

blockquote {
    @media (max-width: 800px) {
        margin-right: 1em;
        margin-left: 1em;
    }
}

cite {
    display: block;
    text-align: right;
}

#grid-warning {
    color: red;

    @supports (display: grid) {
        & {
            display: none;
        }
    }
}

#navigation {
    text-transform: uppercase;
    font-size: 1.6em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-wrap: wrap;

    position: relative;
    flex-direction: row;
    justify-content: space-around;

    a {
        text-align: center;
        flex-grow: 1;
        margin: 0.5em;
        letter-spacing: 2px;
        color: black;

        &.active {
            font-weight: 600;
        }

        &:not(.active) {
            color: #5e5b5b;
        }
    }

    @media (max-width: 800px) {
        font-size: 1.6em;
    }
}

#main {
    display: grid;
    max-width: 100vw;
    grid-template-columns: 1em 1.618fr 70ch 1fr 1em;
    min-height: calc(100vh - 2em - 6px);

    &.post .summary {
        display: none;
    }

    .content,
    .footer {
        grid-column: 3;
        max-width: calc(100vw - 3.5em);
    }

    .table-of-contents {
        padding: 3em 1em 0;
        grid-column: 2;

        ul {
            margin-top: -4px;
        }

        @media (max-width: 1000px) {
            display: none;
        }
    }

    .content {
        padding-bottom: 10rem;
    }
}

footer {
    margin-left: 1em;
    font-size: 0.8rem;
    padding-bottom: 8px;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;

    input,
    textarea {
        border: none;
        border-bottom: solid 1px #bdbdbd;
        font-family: ff;
        margin: 0.2em 0 0.8em;
        resize: none;
        font-size: 1.4em;
    }

    label {
        font-size: 1.4em;
    }

    button {
        width: 5em;
        border: none;
        font-size: 1.5em;
        font-variant-caps: all-small-caps;
        font-family: ff;
        background: none;
        font-size: 1.4em;
        font-weight: 400;
        letter-spacing: 2px;
    }
}

table {
    font-size: 1.4em;
    text-align: left;

    td {
        padding-right: 3em;
    }
}

figcaption {
    p {
        margin-top: -0.4em;
        font-style: italic;
    }
}

iframe {
    height: 80px;
}

details {
    background: #ecf2f2;
    padding: 10px;

    p,
    ul,
    ol {
        font-size: 1rem;
    }

    summary {
        font-size: 1rem;
    }
}

.bible-text {
    position: relative;
    margin: 0 -4px;

    .popover {
        display: none;
        position: absolute;
        padding: 5px;
        margin: -5px;
        z-index: 1;

        > span {
            display: block;
            background: #ebd8f0;
            padding: 1rem 2rem;
            box-shadow: 3px 4px 16px 3px rgba(0, 0, 0, 0.75);

            width: 30em;

            .reference {
                display: block;
                margin-top: 1rem;
                text-align: right;
                font-size: 0.8em;
            }
        }

        &:hover {
            display: block;
        }
    }

    &:hover .popover {
        display: block;
    }
}

.breadcrumbs {
    margin-top: 3rem;

    + h1 {
        margin-top: 1rem;
    }
}
