<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <base href="{{ .Site.BaseURL }}">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">  -->
    <link href="{{ .Site.BaseURL }}css/base.css" rel="stylesheet" type="text/css">
    <link href="{{ .RSSLink }}" rel="alternate feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="me" href="mailto:mail@danielk.se" />
    <link rel="me" href="tel:+46703476545" />
    <link rel="pingback" href="https://webmention.io/danielk.se/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/danielk.se/webmention" />
</head>