<div class="flex gap-4 mt-16">
  <div class="w-1/4 mt-4">
    <img
      src="/images/daniel.jpeg"
      alt="Daniel Karlsson"
      class="rounded-full object-cover aspect-square"
      style="object-position: 20% 0"
    />
  </div>
  <div class="w-3/4">
    <h1>Hire me!</h1>
    <p>
      I'm Daniel and I'm a fullstack developer specialised in web applications.
      I've programmed for twenty years, the last ten professionally and founded
      startups. I help companies explore and realise new revenue streams by
      delivering proof of concepts and minimally viable products. I'm also
      available as a freelance developer. <a href="/contact">Contact me!</a>
    </p>
  </div>
</div>
